.u-section-1 .u-sheet-1 {
  min-height: 1359px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 740px;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1239px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  min-height: 888px;
  height: auto;
  margin: 102px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 205px;
  height: 205px;
  margin: 0 415px 0 0;
}

.u-section-1 .u-text-1 {
  margin: -122px 38px 0 229px;
}

.u-section-1 .u-group-2 {
  min-height: 96px;
  height: auto;
  margin: 107px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-3 {
  margin: -36px 0 0 auto;
}

.u-section-1 .u-group-3 {
  min-height: 96px;
  height: auto;
  margin: 30px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-5 {
  margin: -36px 0 0 auto;
}

.u-section-1 .u-group-4 {
  min-height: 96px;
  height: auto;
  margin: 30px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-7 {
  margin: -36px 0 0 auto;
}

.u-section-1 .u-group-5 {
  min-height: 96px;
  height: auto;
  margin: 30px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-9 {
  margin: -36px 0 0 auto;
}

.u-section-1 .u-group-6 {
  min-height: 96px;
  height: auto;
  margin: 30px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-11 {
  margin: -36px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 395px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 28px;
    margin-left: 219px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 295px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 95px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
  }
}